/*! Author : https://github.com/AJ-7885 12-FEB-2017 */

.menuToolbar{  
    background-color : $color-black !important;
}


.breadcrumb{  
    background-color : $color-primary;
    color: $color-white;
}

#orderCreate{
   border: 1px solid #ccc; 
   margin: 20px 10px 20px 10px; 
   padding: 30px;
   text-align: left; 
   border-radius: 5px; 
   text-align: right;
   .md-raised{
       background-color : $color-bluelight;
       color: $color-white;
   }
}

.table-cell-centered{
    .md-button{
        background-color: $color-white;
        color:$color-bluelight;
    }  
}

.md-toolbar-tools{
     background-color : $color-primary;
}